*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

html,body {
    height: 100%;
}

.content {
    padding: 20px 3%;
}

.box1 {
    width:100%;
    padding: 40px 2%;
    background-color: #ccc;
    transition: .5s ease-in;
}

.minhaClasse {
    color: red;
}